
<h2>About Silver Star Rentals</h2>

<p>The Silver Star Rentals website was created to explore the wonderful world of Ember.js. This project allows us to imagine traveling the world while simultaneously traversing the pathways of the Ember framework...     The net's unbreakable so don't worry about falling... the voice that you ignore might be your future calling, alone we're tossed about like a bottle in the sea, but together we ascend and only then escape this gravity....</p>
<br>
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
